p Obrigado por se tornar um guardião do bondinho! Juntos, ficaremos de olho para evitar que os bondes sejam retirados da oficina sem um inventário prévio.

p Agora, aproveite para pressionar diretamente os responsáveis pelo inventário, enviando um email ou ligando para eles. É fácil e rápido, só precisa clicar nesse link: #{link_to "http://paneladepressao.meurio.org.br/campaigns/294", "http://paneladepressao.meurio.org.br/campaigns/294"}

p Por um Rio de Janeiro cada vez mais lindo,

p Fernanda, Rafa, Ale e toda a equipe do Meu Rio

p P.s: não se esqueça de curtir o Meu Rio no Face para receber atualizações deste e outras mobilizações da nossa Rede: #{link_to "https://www.facebook.com/meurio", "https://www.facebook.com/meurio"}
