p Olá #{@user.name},

p Obrigada por ficar de Guarda pelos Bondinhos de Santa Teresa! É muito importante que o poder público veja que o Rio de Janeiro todo está de olho e é contra o sucateamento desse patrimônio. Por isso, quantos mais Guardiões você puder convocar, maiores serão as chances de conseguirmos o inventário das peças tombadas o mais rápido possível. Compartilhe o link abaixo com seus amigos e família e convoque mais gente para entrar nesse bonde.

p= link_to root_url, root_url

p Por um Rio de janeiro cada vez mais lindo,
p Alessandra e toda a equipe do Meu Rio.
