p Olá!

p Obrigado por se alistar como guardião dos bondes de Santa Teresa! Te avisaremos por SMS caso alguma suspeita de retirada das peças seja confirmada e vamos te mandar uma mensagem com o local exato do nosso bloco-ato do próximo sábado!

p Aproveite para #{link_to "confirmar presença", "https://www.facebook.com/events/479054652214688/?context=create&ref_dashboard_filter=upcoming"} no evento do Facebook e convidar todo mundo para essa mobilização ao som de Carmelitas, Aconteceu e Orquestra Voadora! (:

p Confirme presença e compartilhe: #{link_to "http://bit.ly/devoltaaostrilhos", "http://bit.ly/devoltaaostrilhos"}
