body.users.index
  .enrollment
    background: image-url("bg-top.jpg") no-repeat top center #ffb901
    text-align: center
    padding-top: 2em
    padding-bottom: 2em
  
  form.new_user
    margin: 0
    input
      margin-bottom: .25em
    .field
      margin-bottom: 1em
    input[type='submit']
      float: right
